html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background-image: url('./죠르디.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
}

.left {
  width: 40%;
  height: 100%;
}
