* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
}

li {
  width: 400px;
  height: 90px;
  list-style: none;
}

li:nth-child(even) {
  background: khaki;
}
li:nth-child(odd) {
  background: khaki;
}
